.quality-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.quality-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.quality-list > span {
  margin-left: 20px;
}
.bus-svg {
  display: flex;
  margin: 40px auto;
  width: 90%;
}

@media only screen and (max-width: 670px) {
  .bus-svg {
    position: absolute;
    opacity: 0.3;
  }
  .quality-container {
    width: 100%;
  }
}
